{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Смена пароля" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Плохой Token" %}{% else %}{% trans "Смена пароля" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Ссылка для сброса пароля была недействительной, возможно, потому что она уже использовалась. Пожалуйста, запросите <a href="{{ passwd_reset_url }}">новый сброс пароля</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'сменить пароль' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Ваш пароль изменен.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
