{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<h1>{% trans "Verify Your E-mail Address" %}</h1>

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Эта часть сайта требует от нас убедиться, что
ты тот, кем ты себя выдаешь. Для этого мы требуем, чтобы вы
подтвердите право собственности на свой адрес электронной почты. {% endblocktrans %}</p>

<p>{% blocktrans %}Мы отправили вам электронное письмо для
проверка. Пожалуйста, нажмите на ссылку внутри этого электронного письма. пожалуйста
Свяжитесь с нами, если вы не получили его в течение нескольких минут.{% endblocktrans %}</p>

<p>{% blocktrans %}<strong>Примечание:</strong> ты еще можешь <a href="{{ email_url }}">изменить адрес электронной почты</a>.{% endblocktrans %}</p>


{% endblock %}
