{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <h1>Войти</h1>
  {% if form.errors %}
    <p>
      Ваше имя пользователя и пароль не совпадают.
      Пожалуйста, попробуйте еще раз.
    </p>
  {% else %}
    <p>Пожалуйста, используйте следующую форму для входа в систему. Если у вас нет аккаунта <a href="{% url "register" %}">зарегестрируйтесь</a></p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Войти"></p>
    </form>
    <p><a href="{% url "password_reset" %}">Забыли пароль?</a></p>
  </div>
  <div class="social">
    <ul>
      <li class="facebook"><a href="{% url "social:begin" "facebook" %}">Войти через Фэйсбук</a></li>
      <li class="twitter"><a href="{% url "social:begin" "twitter" %}">Войти через Twitter</a></li>
      <li class="google"><a href="{% url "social:begin" "google-oauth2" %}">Войти через Google</a></li>
    </ul>
  </div>
{% endblock %}