{% extends "base.html" %}

{% block title %}Войдите{% endblock %}

{% block main_content %}
    <form action="." method="POST" class="login">
        <h1 class="form_title">Вход</h1>
        {% if form.errors %}
        <p>Ошибка: пароль или логин неправильные. Попробуйте снова</p>
        {% else %}
        {% endif %}
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <a href="{% url 'register' %}" class="register_link">зарегистрироваться</a><br>
        <button type="submit" class="main_button btn_form">Войти</button>
        <p><a href="{% url "password_reset" %}">Забыли пароль?</a></p>
    </form>
{% endblock %}
