{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block main_content %}
    <div class="main_block">
        <h1>Сброс пароля</h1>
        {% if validlink %}
            <p>Введите ваш пароль:</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <button type="submit">Сменить пароль</button>
            </form>
        {% else %}
            <p>Ваша ссылка для смены пароля никуда не годится. Попробуйте ещё раз.</p>
        {% endif %}
    </div>
{% endblock %}
