{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Зарегестрироваться" %}{% endblock %}

{% block content %}
    <h1>{% trans "Зарегестрироваться" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Вы собираетесь использовать свой {{provider_name}} аккаунт для входа в
{{site_name}}. В качестве последнего шага, пожалуйста, заполните следующую форму:{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Зарегестрироваться" %} &raquo;</button>
</form>

{% endblock %}
